In [1]:
import pandas as pd
import numpy as np


df=pd.read_csv("/Users/varru/Desktop/sf_crime_train.csv")

df.head()

df.info()

from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from sklearn.feature_extraction.text import CountVectorizer

# Define the parser for the Dates column
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
# Read train and test datasets into data frames
input_train_df = pd.read_csv('/Users/varru/Desktop/sf_crime_train.csv', parse_dates=['Dates'], date_parser=dateparse)
#input_test_df = pd.read_csv('../data/test.csv', parse_dates=['Dates'], date_parser=dateparse)

holidays = calendar().holidays(start='2002-01-01', end='2015-12-31')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
Dates         878049 non-null object
Category      878049 non-null object
Descript      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
Resolution    878049 non-null object
Address       878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

In [3]:
input_train_df.Y.nunique()

34243

In [11]:
df_cordinates=input_train_df.groupby(["X","Y"]).size().reset_index()

In [273]:
lits=[]
import time
import re
from geopy.geocoders import Nominatim
geolocator = Nominatim()
count=0
total=np.arange(0,df_cordinates.shape[0]+5,200)
sleeper=0
for x,y,_ in df_cordinates.values:
    count+=1
    sleeper+=1
    location = geolocator.reverse((y,x),timeout=5)
    result=(re.findall('\d+',location.address))
    print(count)
    lits.append((result[-1],y,x))
    if(sleeper in total):
        print("sleep time")
        time.sleep(75)

In [212]:
tup4=lits

In [230]:
final_tuple=tup1+tup2+tup3+tup4
len(tup1+tup2+tup3+tup4)

31242

In [257]:
#before_tuple=tuple(zip(list1,df_cordinates.Y[:3000],df_cordinates.X[:3000]))

In [267]:
tup=[]
for x in before_tuple:
    tup.append(x)

In [272]:
zipcode_df=pd.DataFrame(tup+final_tuple)

In [275]:
pd.to_pickle(zipcode_df,"zip_code_unique.pkl")

In [279]:
zipcode_df.columns=["zipcode","Y","X"]

In [281]:
zipcode_df.head(2)

  zipcode          Y           X
0   94122  37.778469 -122.513642
1   94122  37.778469 -122.513642

In [7]:
#input_train_df.head(2)

In [6]:
#pd.merge(input_train_df,zipcode_df,how='left',left_on=["X","Y"],right_on=["X","Y"])

In [5]:
#pd.merge(input_train_df,zipcode_df,how='outer',left_on=["X","Y"],right_on=["X","Y"])